body {
    display: grid;
    justify-items: center;
    background-image: linear-gradient(-45deg, rgb(243, 179, 239), rgb(102, 235, 255));
    grid-template-areas: 
    ". . . ."
    ". buttons squares ."
    ". footer footer .";
}

footer {
    position: fixed;
    bottom: 1%;
    left: 37%;
    grid-area: footer;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    mix-blend-mode: difference;
    line-height: 0;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    mix-blend-mode: difference;
    line-height: 0;
}

.buttons {
    width: 400px;
    height: 80px;
    font-size: 30px;
    border: solid 5px rgb(255, 255, 255);
    border-radius: 30px;
}

.play-div {
    margin: 0;
    padding: 0;
}

#buttons-div {
    margin-top: 150px;
    display: grid;
    grid-area: buttons;
}

#main-container {
    grid-column: 2;
    display: grid;
    margin: 50px 0 50px 0;
    width: 800px;
    height: 800px;
    border: solid 10px rgb(188, 183, 233);
    grid-area: squares;
}

#black-button {
    background-color: white;
    color: black;
    border: solid 5px black;
    grid-row: 1;
}

#monochrome-button {
    background: linear-gradient( 
        90deg,
        black 50%,
        white 50%,
        white
    );
    grid-row: 2;
}

#multicolor-button {
    grid-row: 3;
}